<template>
  <div class="monitor">
    <h1><div class="red"># What's in a name?</div></h1>
    <br />
    My name is Tjaart van der Walt. The name Tjaart<a href="#1"><sup>1</sup></a>
    is originally Frisian. It is a shortened version of the German name
    Diethard, which translates to "The strong one"<br />
    <br />
    Today most Tjaart s are likely to be South African<a href="#2"
      ><sup>2</sup></a
    >.<br />
    <br />
    You pronounce Tjaart
    <a href="http://www.pronouncenames.com/pronounce/tjaart">like this</a
    >.<br />
    <br />
    My last name van der Walt is Dutch as well. It means "from the Wood".<br />
    <br />
    There has been some distinguished Tjaart van der Walt s over the years:<br />
    <br />
    There is
    <a
      href="http://www.pgatour.com/players/player.20812.tjaart-van-der-walt.html"
      >the golf player</a
    ><br />
    <br />
    There is
    <a
      href="https://www.ewrc-results.com/profile.php?p=21895&t=Tjaart-van-der-Walt"
      >the rally driver</a
    ><br />
    <br />
    During the 18th century, there was
    <a href="https://af.wikipedia.org/wiki/Tjaart_van_der_Walt"
      >the military leader</a
    ><br />
    <br />
    For a month, in 1994, there was even
    <a
      href="http://en.wikipedia.org/wiki/List_of_heads_of_state_of_Bophuthatswana"
      >a head of state</a
    ><br />
    <br />
    <div id="1" style="font-size: 10pt">
      1. Traditionally spelled
      <a
        style="font-size: 10pt"
        href="http://www.babynamespedia.com/meaning/Tjaard"
        >Tjaard</a
      >.
    </div>
    <div id="2" style="font-size: 10pt">
      2. South Africa used to be a Dutch colony, and the name Tjaart became
      popular in the region.
    </div>
  </div>
</template>

<style></style>
