<template>
    <h1>
        <div class="red"># My Github contributions</div>
    </h1>
    <br />
    <a href="https://github.com/tjaartvdwalt">
        <img src="https://github-readme-stats.vercel.app/api?username=tjaartvdwalt&show_icons=true&theme=transparent" />
    </a>
    <br />
    <br />
    <a href="https://github.com/tjaartvdwalt">
        <img
            src="https://github-readme-stats.vercel.app/api/top-langs/?username=tjaartvdwalt&hide=emacs%20lisp&layout=compact&theme=transparent" />
    </a>
</template>
<!-- <script lang="typescript">
// https://github.com/tpitale/mail_room/pull/147
// https://github.com/thinkst/opencanary/pull/295
// https://github.com/nigeil/netctl-auto-gnome
// https://github.com/ultrabug/py3status/pull/341
// https://github.com/ultrabug/py3status/pull/99
// https://github.com/tjaartvdwalt/jekyll-org-mode-converter
</script> -->
