<template>
  <span>
    <span class="yellow">tjaart@tjaart-laptop</span> $
    <!-- <span v-for="section in sections">
      <span class="powerline__component">{{ section }}</span>
    </span> -->
  </span>
</template>

<script>
import Command from '@/components/Command.vue'
import CommandPrompt from '@/components/CommandPrompt.vue'

export default {
  props:{
    sections: Array
  }
}
</script>

