<template>
  <a :href="href"><span class="green">{{command}}</span> {{args}}</a>
</template>

<script>
export default {
  props:{
    href: String,
    value: String
  },
  computed: {
    command: function(){
      return this.value ? this.value.split(' ', 2)[0]: ''
    },
    args: function(){ return this.value ? this.value.split(' ', 2)[1]: ''}
  }

}
</script>
<style>
  a {
    text-decoration: none;
  }
</style>
