<template>
  <code>
    <span class="base0"
      >&nbsp;_________________________________________<br
    /></span>
    <span class="base0"
      >&lt; Welcome to Tjaart's
      laptop.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &gt;<br
    /></span>
    <span class="base0"
      >&lt; Click on a command below to execute it. &gt;<br
    /></span>
    <span class="base0"
      >&nbsp;-----------------------------------------<br
    /></span>
    <span class="base0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;</span
    ><span class="red">^__^<br /></span>
    <span class="base0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;</span
    ><span class="orange">(oo)\_______<br /></span>
    <span class="yellow"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(__)\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)\/\<br
    /></span>
    <span class="green"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||----w
      |<br
    /></span>
    <span class="blue"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br
    /></span>
    <br />
  </code>
</template>

<style>
  .base0 {
color: white;
  }
.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
</style>
